html {
  font-family: sans-serif;
}

.personCard {
  margin: 20px auto;
  text-align: center;
  width: 500px;
  display: block;
  padding: 20px;
  background-color: #CBC275
}

img {
  width: 500px;
  padding: 0 auto;
}

text {
  display: block;
}

#person div:nth-child(2n+1) {
  background-color: lightblue;
}

.dotted {
  border: dotted black 10px
}